h2{
    color:#191970;
    font-size:52px;
    text-align:center;
}
img{
    height: 184px;
    width: 500px;
    float:left;
}
/*Remind me to get a better font for h1*/
h1{
    float:right;
    color: #ffd707;
    font-size: 156px
}
#pika{
    background-color:#ffd700;
}
#bulba{
    background-color:green;
}
#squirtle{
    background-color:blue;
}
#char{
    background-color:red;
}