h1{
    color:#b10542;
    font-size:52px;
    text-align:center;
}
}
#pika{
    background-color:yellow;
}
#bulba{
    background-color:green;
}
#squirtle{
    background-color:blue;
}
#char{
    background-color:red;
}