h2{
    color:#EE4000;
}
div{
    color:#528B8B;
    background-color:#20B2AA; 
}
li{
    font-family:"Trebuchet MS", Helvetica, sans-serif; 
}
div div{
    color:#008B45;
    background-color:#00FF7F; 
}
h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#7D9EC0;
}