body {
    font:Impact;
    background-color:#FF6347;
}
h1{
    color:#FF8C00;
    font-family:Impact, Charcoal, sans-serif;
    text-shadow:5px 3px #191970;
    font-size:87px;
body{
    background-color:#FF6347;
}